 @font-face {
   font-family: 'MTSWide-Medium';
   src: url("font/MTSWide-Medium.woff2") format("woff2");
 }

 @font-face {
   font-family: 'MTSWide-Bold';
   src: url("font/MTSWide-Bold.woff2") format("woff2");
 }

 @font-face {
   font-family: 'MTSWide-Regular';
   src: url("font/MTSWide-Regular.woff2") format("woff2");
 }

 @font-face {
   font-family: 'MTSWide-Light';
   src: url("font/MTSWide-Light.woff2") format("woff2");
 }

 @font-face {
   font-family: 'Acrom-Regular';
   src: url("font/Acrom-Regular.woff2") format("woff2");
 }

 body {
   background: #E0EAFC;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #CFDEF3, #E0EAFC);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 }

 :root {
   --dark: #34495E;
   --light: #ffffff;
   --success: #72B9BC;
   --error: #E24D4C;
   --warning: #E9BD0C;
   --info: #3498DB;
 }

 .notifications {
   position: fixed;
   top: 30px;
   right: 20px;


 }

 .notifications :where(.toast, .column) {
   display: flex;
   align-items: center;

 }

 .notifications .toast {
   width: 400px;
   height: 160px;
   position: relative;
   overflow: hidden;
   list-style: none;
   border-radius: 5px;
   padding: 16px 17px 16px 40px;
   margin-bottom: 10px;
   background: transparent;
   justify-content: space-between;
   animation: show_toast 2s ease forwards;
   transition: .2s all;

 }

 .notification:hover {
   box-shadow: 0 10px 32px #2e81853b;
 }


 @keyframes show_toast {
   0% {
     transform: translateY(100%);
   }

   40% {
     transform: translateY(-5%);
   }

   80% {
     transform: translateY(0%);
   }

   100% {
     transform: translateY(-10px);
   }
 }

 .notifications .toast.hide {
   animation: hide_toast 0.3s ease forwards;
 }

 @keyframes hide_toast {
   0% {
     transform: translateY(-10px);
   }

   40% {
     transform: translateY(0%);
   }

   80% {
     transform: translateY(-5%);
   }

   100% {
     transform: translateY(calc(100% + 20px));
   }
 }

 .notification::before {
   position: absolute;
   content: "";
   height: 3px;
   width: 100%;
   bottom: 0px;
   left: 0px;
   animation: progress 5s linear forwards;
   z-index: 100000;
 }

 @keyframes progress {
   100% {
     width: 0%;
   }
 }

 .notification::before,
 .btn#success {
   background: var(--success);
 }

 .toast .column i {
   font-size: 1.75rem;
 }

 .toast.success .column i {
   color: var(--success);
 }

 .toast .column span {
   font-size: 1.07rem;
   margin-left: 12px;
 }

 .toast i:last-child {
   color: #aeb0d7;
   cursor: pointer;
 }

 .toast i:last-child:hover {
   color: var(--dark);
 }

 .buttons .btn {
   border: none;
   outline: none;
   cursor: pointer;
   margin: 0 5px;
   color: var(--light);
   font-size: 1.2rem;
   padding: 10px 20px;
   border-radius: 4px;
   position: absolute;
   margin: auto;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 200px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 10px 24px #2e81853b;
 }

 @media screen and (max-width: 530px) {
   .notifications {
     width: 95%;
   }

   .notifications .toast {
     width: 100%;
     font-size: 1rem;
     margin-left: 20px;
   }

   .buttons .btn {
     margin: 0 1px;
     font-size: 1.1rem;
     padding: 8px 15px;
   }
 }

 /* ???????????????? */

 .wrap_button {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-top: 12px;
   gap: 12px;
 }

 .notification {
   display: flex;
   align-items: flex-start;
   background: #FBFEFC url(BG.svg) no-repeat center center;
   background-size: cover;
   border: 1px solid #72B9BC;
   border-radius: 8px;
   padding: 16px;
   width: 400px;
   height: 106px;
   max-width: calc(100vw - 40px);
   position: fixed;
   top: 20px;
   right: 20px;
   z-index: 1000;
   animation: slideIn 0.3s ease-out;
   transition: .2s ease-in-out;
 }

 .notification-icon {
   margin-right: 16px;
   font-size: 20px;
   color: #155724;
 }

 .notification-content {
   flex: 1;
   margin-right: 12px;
 }

 .notification-content h4 {
   margin: 6px 0 4px 0;
   font-size: 15px;
   font-weight: 600;
   color: #000;
   letter-spacing: 0.052rem;
   font-family: 'MTSWide-Regular';
 }

 .notification-content p {
   margin: 0;
   font-size: 12px;
   color: #000;
   line-height: 1rem;
   font-family: 'Acrom-Regular';
 }

 .btn-primary {
   background-color: #72B9BC;
   color: white;
   border: 1px solid #4CA0A3;
   text-shadow: 0 0.032rem 0 #00000093;
   padding: 5px 16px;
   border-radius: 50px;
   cursor: pointer;
   font-size: 10px;
   white-space: nowrap;
   font-family: 'MTSWide-Medium';
   width: 60%;
   height: 28px;
   transition: .2s all;
 }

 .btn-primary:hover {
   background-color: #4CA0A3;
 }

 .btn-close {
   background-color: #ffffff81;
   backdrop-filter: blur(8px);
   color: black;
   border: 1px solid #4CA0A3;
   padding: 5px 16px;
   border-radius: 50px;
   cursor: pointer;
   font-size: 10px;
   white-space: nowrap;
   font-family: 'MTSWide-Medium';
   width: 40%;
   height: 28px;
   transition: .2s all;
 }

 .btn-close:hover {
   border: 1px solid #4CA0A3;
   background: #c7e3e453;
   color: black;
 }

 .notification-close {
   background: #fff no-repeat center center url("data:image/svg+xml,%3Csvg width='5' height='5' viewBox='0 0 5 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 4.5L0.5 0.5ZM0.5 4.5L4.5 0.5Z' fill='%2301A08E' style='fill:%2301A08E;fill:color(display-p3 0.0039 0.6275 0.5569);fill-opacity:1;'/%3E%3Cpath d='M4.5 4.5L0.5 0.5M0.5 4.5L4.5 0.5' stroke='black' style='stroke:black;stroke-opacity:1;' stroke-linecap='round'/%3E%3C/svg%3E%0A");
   background-size: 30%;
   border: 1px solid #C7E3E4;
   border-radius: 50px;
   font-size: 20px;
   cursor: pointer;
   color: #000;
   padding: 0;
   width: 24px;
   height: 24px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   margin: auto;
   top: 12px;
   right: 12px;
   transition: .2s ease-in-out;
 }

 .notification-close:hover {
   background: #c7e3e453 no-repeat center center url("data:image/svg+xml,%3Csvg width='5' height='5' viewBox='0 0 5 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 4.5L0.5 0.5ZM0.5 4.5L4.5 0.5Z' fill='%2301A08E' style='fill:%2301A08E;fill:color(display-p3 0.0039 0.6275 0.5569);fill-opacity:1;'/%3E%3Cpath d='M4.5 4.5L0.5 0.5M0.5 4.5L4.5 0.5' stroke='black' style='stroke:black;stroke-opacity:1;' stroke-linecap='round'/%3E%3C/svg%3E%0A");
   background-size: 30%;
   border: 1px solid #4CA0A3;
 }

 @keyframes slideIn {
   from {
     transform: translateY(-100%);
     opacity: 0;
   }

   to {
     transform: translateY(0);
     opacity: 1;
   }
 }